body{
	background-color: #c9c9c9;
	height: 100%;
	font-size: 10px;
}

header{
	border-bottom: 4px solid #adadad;
	overflow: hidden;
	background-color: #0965c6;
}

label{
	font-weight: 700;
}

.h-atas{
	color: #FFFFFF;
	padding-left: 10px;
	font-family: "Arial";
	font-size: 1.4em;
}

.u-separate{
	padding-left: 0px;
}
	
.right{
	background-color: #333333;
	color: white;
}

.login-wrapper{
	padding-top: 10px;
}

.panel{
	margin-bottom: 14px;
}

#panel-default{
	margin-top: 30px;
}

#panel-heading{
	font-size: 22px;
	font-weight: bold;
	padding: 18px 15px;
}

.inner-content{
	padding: 20px;
	height: 270px;
}

#f-login{
	margin-top: 30px;
}

.control-label{
	font-size: 1.4em;
    line-height: normal;
    padding-top: 10px!important;
}

.inp{
	height: 37px;
	width: 95%;
	border-radius: 0;
}

.icon{
	top: 0;
	background-color: #e66c69;
	color: white;
	border-radius: 0;
	box-shadow: none;
	border : 0;
}

#i-user{
	border-color: #e66c69; 
}

#i-pass{
	background-color: #c9c9c9;
}

.tombol{
	border-radius: 0;
}

footer{
	padding-top: 15px;
	margin-top: 42px;
	background-color: #333333;
	color: #FFFFFF;
	position: relative;
	height: 50px;
	text-align: center;
	font-family: sans-serif;
	font-size: 12px;
}

.input-group[class*="col-"] {
    float: left;
    padding-right: 15px;
    padding-left: 15px;
}